@import 'constants/styles';

.pharmacy__wrapper {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid $button-background-color;
  padding: 10px;
  margin: 10px;

  .pharmacy__address {
    font-size: 1.2rem;
    font-weight: 500;
    width: 59%;
  }

  .pharmacy__worktime {
    font-size: 1.2rem;
    font-weight: 500;
    width: 41%;
  }
}
