$page-horizontal-padding: 12vw;

$header-background-color: #373c42;
$header-height: 10vh;
$subheader-height: 15vh;

$interactive-element-bg-color: bisque;

$body-background-color: #ece6e0;
$button-background-color: #5aa65d;
$form-background-color: white;

$footer-background-color: #373c42;
$footer-height: 20vh;

$shadow-color: lightgrey;
$text-color: black;
$inversed-text-color: #ece6e0;
$inversed-text-hover-color: black;

$default-font-size: 16px;
