.order {
  display: flex;
  justify-content: space-between;

  .order__date {
    width: 20%;
  }

  .order__price {
    width: 20%;
  }

  .order__address {
    width: 30%;
  }
  .order__state {
    width: 30%;
  }
  .state__button {
    display: flex;
    flex-direction: row;
  }
}
