@import 'constants/styles.scss';

.loading__product {
  margin: 0 0 50px 20px;
  min-width: 200px;
  width: calc(100% / 3 - 70px);
  padding: 15px;
  background-color: $button-background-color;
  border-radius: 10px;
  box-sizing: content-box;
  text-align: center;
  display: flex;
  flex-direction: column;

  .custom-skeleton-button-style {
    width: 100% !important;
  }
  .ant-space-item {
    width: 45%;
  }
}
