@import 'constants/styles.scss';

.favor__pharmacy__wrapper {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid $button-background-color;
  padding: 10px;
  margin-bottom: 10px;
  user-select: none;

  .favor__pharmacy__address {
    font-size: 1.2rem;
    font-weight: 500;
    width: 40%;
  }
  .favor__pharmacy__worktime {
    font-size: 1.2rem;
    font-weight: 500;
    width: 30%;
  }
  .icon__wrapper {
    height: 3vh;

    .favorite__icon {
      width: 100%;
      height: 100%;
      object-fit: scale-down;
    }
  }
  .icon__wrapper:hover {
    cursor: pointer;
    scale: (1.01);
  }
}
